<header class="header d-lg-flex align-items-center" data-page="home" data-page-parent="home">
    <div class="container d-flex align-items-center flex-wrap flex-lg-nowrap">
        <a class="logo header_logo d-inline-flex align-items-center" href="index.html">
            <span class="logo_icon">
                <img src="svg/logo.svg" alt="AW3A" />
            </span>
            <span class="logo_text h5">A<span class="brand-highlight">Web3</span>Agency</span>
        </a>
        <nav class="header_nav collapse" id="headerMenu">
            <ul class="header_nav-list">
                <li class="header_nav-list_item">
                    <a class="nav-item nav-link" href="/" data-page="home" data-single="true">
                        <span class="nav-item_text">Start</span>
                    </a>
                </li>
                <li class="header_nav-list_item">
                    <a class="nav-item nav-link" href="about.html" data-page="about" data-single="true">
                        <span class="nav-item_text">About Us</span>
                    </a>
                </li>
                <li class="header_nav-list_item dropdown">
                    <a
                        class="nav-link nav-item dropdown-toggle d-flex align-items-center justify-content-between"
                        href="services.html"
                        data-bs-toggle="collapse"
                        data-bs-target="#servicesMenu"
                        data-trigger="dropdown"
                        data-page-parent="services"
                        data-main-link="true"
                        aria-expanded="false"
                        aria-controls="servicesMenu"
                        data-page="services"
                    >
                        <span class="nav-item_text">
                            Services
                            <i class="icon-circle icon"></i>
                        </span>
                        <i class="icon-arrow-left icon arrow-rotate"></i>
                    </a>
                    <div class="dropdown-menu collapse" id="servicesMenu">
                        <ul class="dropdown-list">
                            <li class="list-item" data-main="true">
                                <a
                                    class="dropdown-item nav-item"
                                    data-page="services"
                                    data-page-parent="services"
                                    href="services.html"
                                    data-main="true"
                                >
                                    All Services
                                </a>
                            </li>
                            <li class="list-item">
                                <a
                                    class="dropdown-item nav-item"
                                    data-page="dapps"
                                    data-page-parent="dapps"
                                    href="dapps.html"
                                >
                                    DApps
                                </a>
                            </li>
                            <li class="list-item">
                                <a
                                    class="dropdown-item nav-item"
                                    data-page="nft"
                                    data-page-parent="nft"
                                    href="nft.html"
                                >
                                    NFT Marketplaces
                                </a>
                            </li>
                            <li class="list-item">
                                <a
                                    class="dropdown-item nav-item"
                                    data-page="gamefi"
                                    data-page-parent="gamefi"
                                    href="gamefi.html"
                                >
                                    GameFi
                                </a>
                            </li>
                            <li class="list-item">
                                <a
                                    class="dropdown-item nav-item"
                                    data-page="metaverse"
                                    data-page-parent="metaverse"
                                    href="metaverse.html"
                                >
                                    Metaverse
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header_nav-list_item dropdown">
                    <a
                        class="nav-link nav-item dropdown-toggle d-flex align-items-center justify-content-between"
                        href="exchanges.html"
                        data-bs-toggle="collapse"
                        data-bs-target="#exchangeMenu"
                        data-trigger="dropdown"
                        data-page-parent="exchange"
                        data-main-link="true"
                        aria-expanded="false"
                        aria-controls="exchangeMenu"
                        data-page="exchange"
                    >
                        <span class="nav-item_text">
                            Crypto
                            <i class="icon-circle icon"></i>
                        </span>
                        <i class="icon-arrow-left icon arrow-rotate"></i>
                    </a>
                    <div class="dropdown-menu collapse" id="exchangeMenu">
                        <ul class="dropdown-list">
                            <li class="list-item" data-main="true">
                                <a
                                    class="dropdown-item nav-item"
                                    data-page="exchange"
                                    data-page-parent="exchange"
                                    href="exchange.html"
                                    data-main="true"
                                >
                                    All exchanges
                                </a>
                            </li>
                            <li class="list-item">
                                <a
                                    class="dropdown-item nav-item"
                                    data-page="simpleSwap"
                                    data-page-parent="simpleSwap"
                                    href="simpleSwap.html"
                                >
                                    SimpleSwap
                                </a>
                            </li>
                            <li class="list-item">
                                <a
                                    class="dropdown-item nav-item"
                                    data-page="changelly"
                                    data-page-parent="changelly"
                                    href="changelly.html"
                                >
                                    Changelly
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--<li class="header_nav-list_item">
                    <a class="nav-item nav-link" href="prices.html" data-page="prices" data-single="true">
                        <span class="nav-item_text">Prices</span>
                    </a>
                </li>
                <li class="header_nav-list_item">
                    <a class="nav-item nav-link" href="blog.html" data-page="blog" data-single="true">
                        <span class="nav-item_text">Blog</span>
                    </a>
                </li>-->
                <li class="header_nav-list_item">
                    <a class="nav-item nav-link" href="contact.html" data-page="contact" data-single="true">
                        <span class="nav-item_text">Contact</span>
                    </a>
                </li>
                <li class="header_nav-list_btn">
                    <a class="btn signUpTrigger" href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
        <a class="header_btn btn btn--neon signUpTrigger" href="#">Contact Us</a>
        <button
            class="header_trigger"
            id="headerTrigger"
            data-bs-toggle="collapse"
            data-bs-target="#headerMenu"
            aria-controls="headerMenu"
            aria-expanded="false"
            type="button"
        >
            <i class="icon-arrow-left icon arrow-rotate"></i>
        </button>
    </div>   
</header>